<!DOCTYPE html>
<html>
<head>
        <% include Templates/header.ejs %>
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-expand-lg sticky-top navbar-light">

            <a class="navbar-brand" href="/">Schedule It</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav">

                    <li class="nav-item">

                        <a class="nav-link" href="/">Home </a>

                    </li>

                    <li class="nav-item active dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Owner Dashboard <span class="sr-only">(current)</span>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" href="/generateSchedule">Generate Schedule</a>

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="/owner">Dashboard</a>

                        </div>
                    </li>

                    <li>

                        <button class="btn btn-outline-success btn-sm p-0"><a class="nav-link" href="/logout">Sign Out</a></button>
                        
                    </li>

                </ul>
                
            </div>

        </nav>
    <form method="POST" action="/createEmployeeAcct">
        <div class=" mx-auto p-5" id="CEAInput">
            <input name="name" type="text" class="form-control text-center" id="name" placeholder="Employee Full Name">
            <input name="email" type="tex" class="form-control text-center" id="email" placeholder="Employee Email">
            <input type="password" name="password" type="text" class="form-control text-center" id="password" placeholder="Password">
            <input name="phone" type="text" class="form-control text-center" id="phone" placeholder="Phone Number">
            <div class="input-group-prepend d-flex justify-content-end" id="button-addon3">
                <button class="btn btn-success" id="submit" type="submit">Add</button>
            </div>

        </div>
        <div>
                <% include Templates/uInfo.ejs %>
        </div>
    </form>

    </div>

    
    <div>
        <% include Templates/footer.ejs %>
    </div>
   
    
</body>
</html>