<!DOCTYPE html>
<html>
<head>
        <% include Templates/header.ejs %>
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-expand-lg sticky-top navbar-light">
            <a class="navbar-brand" href="home.ejs">Schedule It</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="home.ejs">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="eDash.ejs">Employee <span class="sr-only">(current)</span></a>
                </li>
                <li>
                        <button class="btn btn-outline-success btn-sm p-0"><a class="nav-link text-success" href="home.ejs">Sign Out</a></button>
                </li>
                </ul>
            </div>
        </nav>
            
        <div class="table-responsive pt-5">
            <table class="table table-striped">
                <thead>
                    <tr class="table-header">
                        <th scope="col">Employee #</th>
                        <th scope="col">Name</th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednsday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <% include Templates/footer.ejs %>
</body>
</html>