<!DOCTYPE html>
<html>
<head>
    <% include Templates/header.ejs %>
    <link rel="stylesheet" type="text/css" media="screen" href="../main.css" />
</head>
<body>
    <div class="container w-auto p-3 h-100">
        
        <nav class="navbar navbar-expand-lg sticky-top navbar-light">

            <a class="navbar-brand" href="/">Schedule It</a>

            <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="oDash" href='/owner'>Owner</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="eDash" href='/employee'>Employee</a>
                    </li>
                </ul>
            </div>
        </nav>

        

        <P class="text-center">
           Generating a schedule for your company has never been this easy.
           <br/>
           <img class="w-45 m-3 h-45" src="calendar.jpg"/>
           <br/>
           You Are Welcome!
        </P>

        <div class="input-group-prepend d-flex justify-content-center" id="button-addon3">
            
            <form class = "p-4" method="GET" action="/owner">
                <h4>Owner Sign In</h4>
                <input type="email" class="form-control text-nowrap" placeholder="Email Address">
                <input type="password" class="form-control text-nowrap" placeholder="Password">
                <button class="btn btn-success" type="sumbit">Sign In</button>
            </form>

            <form class = "p-4" method="GET" action="/employee">
                <h4>Employee Sign In</h4>
                <input type="email" class="form-control text-nowrap" placeholder="Email Address">
                <input type="password" class="form-control text-nowrap" placeholder="Password">
                <button class="btn btn-success" type="submit">Sign In</button>
            </form>
            
        </div>
    </div>
    <% include Templates/footer.ejs %>
</body>
</html>