
<% users.forEach(function(user){ %>
    <div id="userInfo">
        <h1 class="d-flex justify-content-center"> <%= user.name%> </h1>
        <h2 class="d-flex justify-content-center"> <%= user.id%> </h2>
        <h2 class="d-flex justify-content-center"> <%= user.email%> </h2>
        <h2 class="d-flex justify-content-center"> <%= user.phone%> </h2>
    </div>
<%   }) %>

