<table class="m-auto">
    <div>
        <tr class="table-header">
            <th scope="col">Name</th>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
        </tr>

        <% users.forEach(function(user){ %>
            <tr>
                <td class="pr-5 pb-2"><%= user.name %></td>              
                <td class="pr-5 pb-2"><%= user.id %></td>
                <td class="pr-5 pb-2"><%= user.email %></td>
                <td class=""><%= user.phone %></td>
            </tr>    
        <% }) %>
    </div>
</table>
